@font-face {
  font-family: "Digital";
  src: url("fonts/DS-DIGI.TTF") format("truetype");
}
:root{
  --font-for-texts: 'Montserrat', sans-serif; 
}


#main{
  margin: 20vh 17.5vw;
  text-align: center;
}
h1 {
  font-family: var(--font-for-texts);
  font-size: 35px;
}
#settings{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px; */
}
#break{
  margin: 0 30px;
  font-family: var(--font-for-texts);
}
#session{
  margin: 0px 30px;
  margin-left: 30px;
  font-family: var(--font-for-texts);
}
#clock{
  width: 250px;
  margin: 20px auto;
  padding: 0px;
  border: 3px solid black;
  border-radius: 45px;
}
#timer-label{
  font-size: 30px;
  font-family: var(--font-for-texts);
}
button{
  border: none;
}
button:hover{
  cursor: pointer;
}
button:focus{
  outline: none;
}
#controls button:clicked{
  border: none;
}
#time-left{
  font-family: Digital;
  font-size: 60px;
  margin-bottom: 30px;
  margin-block-start: 0;
}

